@model CropImage.Models.ImageCroped
@{
    ViewBag.Title = "Cau";
    string CName = ViewBag.CName == null ? "Home" : ViewBag.CName;

    Layout = null;// "~/Views/Shared/_Layout3.cshtml";
}
@using (Html.BeginForm("CropChuOrDau", "Home", FormMethod.Post, new { id = "formDetail", @class = "coords form-inline Dcrop", @enctype = "multipart/form-data", @alt = "MucChu" }))
{
    @Html.AntiForgeryToken()
    <input value="@ViewBag.idImage" type="hidden" id="idImage" , name="idImage" />
    <table class="table table-bordered">
        <tr>
            <td>
                <label class="control-label">Góc trái X</label>
            </td>
            <td>
                @Html.TextBoxFor(model => model.X, new { @class = "form-control  x1", @style = "width: 100%;" })
            </td>
        </tr>
        <tr>
            <td>
                <label class="control-label">Góc trái Y</label>
            </td>
            <td>
                @Html.TextBoxFor(model => model.Y, new { @class = "form-control  y1", @style = "width: 100%;" })
            </td>
        </tr>
        <tr>
            <td>
                <label class="control-label">Độ rộng</label>
            </td>
            <td>
                @Html.TextBoxFor(model => model.Width, new { @class = "form-control w", @style = "width: 100%;" })
            </td>
        </tr>
        <tr>
            <td>
                <label class="control-label">Độ cao</label>
            </td>
            <td>
                @Html.TextBoxFor(model => model.Height, new { @class = "form-control  h", @style = "width: 100%;" })
            </td>
        </tr>
        <tr>
            <td>
                <label class="control-label">Loại dấu</label>
            </td>
            <td>
                @Html.DropDownList("IdDau", null, "---Chọn dấu---", new { @class = "form-control", @style = "width: 100%;" })
            </td>
        </tr>
        <tr id="dNhanChu">
            <td>
                <label class="control-label">Văn bản</label>
            </td>
            <td>
                @Html.TextBoxFor(model => model.Lable, new { @class = "form-control", @style = "width: 100%;" })
            </td>
        </tr>
        <tr>
            <td>Mẫu đúng hay sai</td>
            <td>
                <input type='checkbox' id='IsOK' name='IsOK' value='true' @(Model == null || Model.IsOK == true ? "checked=checked" : null )
                       class="make-switch" data-on-color="primary" data-off-color="danger" data-on-text="Đúng" data-off-text="Sai" />
            </td>
        </tr>
    </table>
    @*<div class="form-actions">
            <div class="row">
                <div class="col-md-offset-3 col-md-9">
                    <button type="submit" class="btn green "><i class="fa fa-check"></i> Ghi nhận</button>
                    <a href="@Url.Action("Index")" class="btn default">Hủy bỏ</a>
                </div>
            </div>
        </div>*@
}