@model CropImage.Models.ImageCroped
@{
    ViewBag.Title = "Cau";
    string CName = ViewBag.CName == null ? "Home" : ViewBag.CName;

    Layout = null;// "~/Views/Shared/_Layout3.cshtml";
}
@using (Html.BeginForm("CropTu", "Home", FormMethod.Post, new { id = "formDetail", @class = "coords form-inline Dcrop", @enctype = "multipart/form-data", @alt = "MucTu" }))
{
    @Html.AntiForgeryToken()
    <input value="@ViewBag.idImage" type="hidden" id="idImage" , name="idImage" />
    <table class="table table-bordered">
        <tr>
            <td>
                <label class="control-label">Góc trái X</label>
            </td>
            <td>
                @Html.TextBoxFor(model => model.X, new { @class = "form-control btn-sm x1", @style = "width: 100%;" })
            </td>
        </tr>
        <tr>
            <td>
                <label class="control-label">Góc trái Y</label>
            </td>
            <td>
                @Html.TextBoxFor(model => model.Y, new { @class = "form-control btn-sm y1", @style = "width: 100%;" })
            </td>
        </tr>
        <tr>
            <td>
                <label class="control-label">Độ rộng</label>
            </td>
            <td>
                @Html.TextBoxFor(model => model.Width, new { @class = "form-control btn-sm w", @style = "width: 100%;" })
            </td>
        </tr>
        <tr>
            <td>
                <label class="control-label">Độ cao</label>
            </td>
            <td>
                @Html.TextBoxFor(model => model.Height, new { @class = "form-control btn-sm h", @style = "width: 100%;" })
            </td>
        </tr>
        <tr>
            <td>
                <label class="control-label">Từ loại</label>
            </td>
            <td>
                @Html.DropDownList("IdLoaiTu", null, "---Chọn từ loại---", new { @class = "form-control", @style = "width: 100%;" })
            </td>
        </tr>
        <tr>
            <td>
                <label class="control-label">Từ </label>
            </td>
            <td>
                @Html.TextBoxFor(model => model.Lable, new { @class = "form-control btn-sm lable", @style = "width: 100%;" })
            </td>
        </tr>
        <tr>
            <td>Mẫu đúng hay sai</td>
            <td>
                <input type='checkbox' id='IsOK' name='IsOK' value='true' @(Model == null || Model.IsOK == true ? "checked=checked" : null ) />
            </td>
        </tr>
    </table>
}