@model CropImage.Models.ImageCroped
@{
    ViewBag.Title = "Home Page";
    string CName = ViewBag.CName == null ? "Home" : ViewBag.CName;
    //Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div class="row margin-top-30">
    <div class="col-md-12">
        <div class="portlet light portlet-fit bordered ">

            <div class="portlet-body">
                <div class="tabbable-line boxless margin-bottom-20">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#tab_2" data-toggle="tab"> Khoanh vùng trong hình ảnh </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_2">
                            <div class="row">
                                <div class="col-md-6 col-sm-12 responsive-1024">
                                    <h4> khoanh vùng hình ảnh và điền mô tả cho hình ảnh</h4>
                                    <h3 class="text-danger">@ViewBag.Error</h3>
                                    <div id="imgCrop">
                                        <img src="@ViewBag.Image" id="demo2" alt="Jcrop Example" data-object-id="@ViewBag.idImage" class="img-responsive " />

                                    </div>>

                                    <div class="form-actions margin-top-30">
                                        <div class="row">
                                            <div class="col-md-offset-3 col-md-9">
                                                <a class="btn default" id="Left"><i class="fa fa-angle-left"></i>Trước</a>
                                                <a class="btn success" id="Right">Tiếp theo<i class="fa fa-angle-right"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div id="Croped">
                                        <img src="@ViewBag.Image" alt="Hình vừa cắt" data-object-id="@ViewBag.idImage" class="img-responsive " />
                                    </div>>
                                </div>
                                <div class="col-md-4 col-sm-12 responsive-1024">
                                    <h4>Thông tin chi tiết :</h4>
                                    <div>
                                        <ul class="nav nav-tabs">
                                            <li class="active">
                                                <a href="#Detail_1" data-toggle="tab"> Mức câu </a>
                                            </li>
                                            <li>
                                                <a href="#Detail_2" data-toggle="tab"> Mức từ </a>
                                            </li>
                                            <li>
                                                <a href="#Detail_3" data-toggle="tab"> Mức âm tiết </a>
                                            </li>
                                            <li>
                                                <a href="#Detail_4" data-toggle="tab"> Mức chữ cái hoặc dấu </a>
                                            </li>
                                        </ul>
                                        <div class="tab-content">
                                            <div class="tab-pane active" id="Detail_1">
                                                @using (Html.BeginForm("CropCau", CName, FormMethod.Post, new { @class = "coords form-inline Dcrop", @enctype = "multipart/form-data", @id = "Cau" }))
                                                {
                                                    
                                                   
                                                    <table class="table table-bordered">
                                                        <tr>
                                                            <td><button type="submit" class="btn green pull-right"><i class="fa fa-check"></i> Ghi nhận</button></td>
                                                            <td><a href="@Url.Action("Index")" class="btn default">Hủy bỏ</a></td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <label class="control-label">Văn bản</label>
                                                            </td>
                                                            <td>
                                                                @Html.TextBoxFor(model => model.Lable, new { @class = "form-control btn-sm dVal nhan", @style = "width :100%" })
                                                                @Html.ValidationMessageFor(model => model.Lable)
                                                            </td>
                                                        </tr>
                                                    </table>

                                                }
                                            </div>

                                            <div class="tab-pane " id="Detail_2">
                                                @using (Html.BeginForm("CropTu", CName, FormMethod.Post, new { @class = "coords form-inline Dcrop", @enctype = "multipart/form-data", @id="Tu" }))
                                                {
                                                    <table class="table table-bordered">
                                                        <tr>
                                                            <td><button type="submit" class="btn green pull-right"><i class="fa fa-check"></i> Ghi nhận</button></td>
                                                            <td><a href="@Url.Action("Index")" class="btn default">Hủy bỏ</a></td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <label class="control-label">Từ loại</label>
                                                            </td>
                                                            <td>
                                                                @Html.DropDownList("LoaiTu", null, "---Chọn từ loại---", new { @class = "form-control btn-sm ", @style="width :100%" })
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <label class="control-label">Từ</label>
                                                            </td>
                                                            <td>
                                                                @Html.TextBoxFor(model => model.Lable, new { @class = "form-control btn-sm dVal nhan", @style = "width :100%" })
                                                                @Html.ValidationMessageFor(model => model.Lable)
                                                            </td>
                                                        </tr>
                                                    </table>

                                                }
                                            </div>

                                            <div class="form-body">
                                                <form id="base">
                                                    <input value="@ViewBag.idImage" type="hidden" id="idImage"  name="idImage" class="dInput" />
                                                    <table class="table table-bordered">
                                                        <tr>
                                                            <td>
                                                                <label class="control-label">Mẫu này đúng hay sai</label>
                                                            </td>
                                                            <td>
                                                                <input type='checkbox' id='IsOK' name='IsOK' value='true' @(Model == null || Model.IsOK == true ? "checked=checked" : null )
                                                                       class="make-switch dInput" data-on-color="primary" data-off-color="danger" data-on-text="Đúng" data-off-text="Sai" />
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <label class="control-label">Góc trái X</label>
                                                            </td>
                                                            <td>
                                                                <input class="form-control btn-sm x1 dInput" disabled id="X" name="X"/>
                                                                @*@Html.TextBoxFor(model => model.X, new { @class = "form-control btn-sm x1", disabled = "true" })*@
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <label class="control-label">Góc trái Y</label>
                                                            </td>
                                                            <td>
                                                                @Html.TextBoxFor(model => model.Y, new { @class = "form-control btn-sm y1 dInput", disabled = "true" })
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <label class="control-label">Độ rộng</label>
                                                            </td>
                                                            <td>
                                                                @Html.TextBoxFor(model => model.Width, new { @class = "form-control btn-sm w dInput", disabled = "true" })
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <label class="control-label">Độ cao</label>
                                                            </td>
                                                            <td>
                                                                @Html.TextBoxFor(model => model.Height, new { @class = "form-control btn-sm h dInput", disabled = "true" })
                                                            </td>
                                                        </tr>

                                                    </table>

                                                </form>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/Scripts/Customer.js"></script>
    <script>

        jQuery(document).ready(function () {
            $('#Left').click(function () {
                // --
                var $id = $('#demo2').attr('data-object-id');
                var url = '/Home/Pre?id=' + $id;
                location.href = url;
            });
            $('#Right').click(function () {
                // ++
                var $id = $('#demo2').attr('data-object-id');
                var url = '/Home/Next?id=' + $id;
                location.href = url;
            });
            $(".Dcrop").submit(function (event) {
                /* stop form from submitting normally */
                event.preventDefault();
                /* get the action attribute from the <form action=""> element */
                var $form = $(this),
                    url = $form.attr('action'),
                    id = $form.attr('id');
                 //   data = $('#' + id).serialize(),
                  //  base = $('#base').serialize();
                var X = $("#X").val(), Y = $("#Y").val(), Width = $("#Width"), Height = $("#Height"), IsOK = $("#IsOK");
                var lable = $('#' + id + " .nhan").val();
                var data= 
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: data ,
                    success: function (msg) {
                        if (msg.Isok) {
                            showNoty('Ghi nhận thành công', 'success');
                        }
                        showNoty('Đã sảy ra lỗi ' + msg.Message, 'Error');
                    },
                    error: function (data) {
                        showNoty('Đã sảy ra lỗi trong quá trình xử lý', 'Error');
                    },
                    complete: function (result) {
                        App.unblockUI();
                    }
                });
            });
        });
    </script>
}