<!DOCTYPE html>
<html>
<head>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Crop/css")
    @RenderSection("Styles", required: false)
</head>
<body class="page-container-bg-solid page-header-fixed page-sidebar-closed-hide-logo">
   
            @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Crop/jquery")
    @RenderSection("scripts", required: false)
    @RenderSection("scripts2", required: false)
</body>
</html>
