@model CropImage.Models.ImageCroped

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string imgPath = Model.Uri;
}
<ul class="page-breadcrumb breadcrumb">
    <li>
        <i class="fa fa-home"></i>
        <a href="/">Trang chủ</a>
        <i class="fa fa-angle-right"></i>
    </li>
    <li>
        <a href="#">Danh sách @ViewBag.CText</a>
        <i class="fa fa-angle-right"></i>
    </li>
    <li class="active">
        Cập nhật @ViewBag.CText
    </li>
</ul>

<div class="row">
    <div class="col-md-12">
        <div class="tab-pane" id="tab_6">
            <div class="portlet box grey-cascade">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-slack"></i>Cập nhật @ViewBag.CText
                    </div>
                </div>
                <div class="portlet-body form">
                    @using (Html.BeginForm("Edit", "ImageCropeds", FormMethod.Post, new { @class = "form-horizontal form-bordered form-row-stripped" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.Id)
                    <div class="form-body">
                        @if (!ViewData.ModelState.IsValid)
                        {
                            <div class="alert alert-danger">
                                <button data-close="alert" class="close"></button>
                                @Html.ValidationSummary(true)
                            </div>
                        }
                        @{
                            if (imgPath != null)
                            {
                                <div class="form-group">
                                    <div class="col-md-5"></div>
                                    <img class="col-md-2" src="@imgPath" />
                                    <div class="col-md-5"></div>
                                </div>
                            }
                        }
                        <div class="form-group">
                            @Html.LabelFor(model => model.ImageId, new { @class = "col-md-3 control-label" })
                            <div class="col-md-9">
                                @Html.DropDownList("ImageId", null, "---Chọn hình ảnh gốc---", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ImageId)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.code, new { @class = "col-md-3 control-label" })
                            <div class="col-md-9">
                                @Html.TextBoxFor(model => model.code, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.code)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Name, new { @class = "col-md-3 control-label" })
                            <div class="col-md-9">
                                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Name)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Description, new { @class = "col-md-3 control-label" })
                            <div class="col-md-9">
                                @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Description)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Lable, new { @class = "col-md-3 control-label" })
                            <div class="col-md-9">
                                @Html.TextBoxFor(model => model.Lable, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Lable)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Line, new { @class = "col-md-3 control-label" })
                            <div class="col-md-9">
                                @Html.TextBoxFor(model => model.Line, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Line)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Index, new { @class = "col-md-3 control-label" })
                            <div class="col-md-9">
                                @Html.TextBoxFor(model => model.Index, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Index)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.IsOK, new { @class = "col-md-3 control-label" })
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.IsOK, new { @class = "checkbox" })
                                @Html.ValidationMessageFor(model => model.IsOK)
                            </div>
                        </div>
                    </div>
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    <button type="submit" class="btn green"><i class="fa fa-check"></i> Ghi nhận</button>
                                    @*<a href="@Url.RouteUrl()" class="btn default">Hủy bỏ</a>*@
                                    @Html.ActionLink("Hủy bỏ", "Index", null, new { @class = "btn default" })
                                </div>
                            </div>
                        </div>

                    }
                </div>
            </div>
        </div>
    </div>
</div>
