@model IEnumerable<CropImage.Models.ImageCroped>
@{
    ViewBag.Title = "Table";
    Layout = null;
}

<div class="row" id="mainContent">
    <div class="col-md-12">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-flag-o font-green-sharp bold"></i>
                    <span class="caption-subject font-green-sharp bold ">Danh sách hình ảnh</span>
                </div>
                <div class="actions">
                    @Html.ActionLink("Xuất hình ảnh đã khoanh", "Create", null, new { @class = "btn btn-sm green"})
                    @Html.ActionLink("Tạo file training", "WriteFile", null, new { @class = "btn btn-sm blue", @id = "Write" })
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-striped table-hover table-bordered" id="datatable_none_ajax_source">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.code)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                           <span>Mô tả</span>
                        </th>
                        <th><span>Hình ảnh</span>
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Lable)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                    <tr data-objectid="@item.Id">
                        <td>
                            @Html.DisplayFor(modelItem => item.code)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Info)
                        </td>
                        <td>
                            @{
                                if (item.Uri != null)
                                {
                                    <img src="@Html.DisplayFor(modelItem => item.Uri)" width="100" />
                                }
                                else
                                {
                                    <span> ảnh chưa được xuất</span>
                                }
                            }
                        </td>
                        <td>
                            @*@Html.DisplayFor(modelItem => item.TrangThai)*@
                            <span>@item.Lable</span>
                        </td>
                        <td>
                            @*@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
                            <a href="/ImageCropeds/Edit/@item.Id" class="edit btn btn-xs blue"><i class="fa fa-edit"></i> Sửa</a>

                            <a class="delete btn default btn-xs red-flamingo" href="javascript:;">
                                <i class="fa fa-trash-o"></i> Xóa
                            </a>
                        </td>
                    </tr>
                    }
                </table>
            </div>
        </div>
    </div>

</div>