@model CropImage.Models.ImageCroped
@{
    ViewBag.Title = "Cau";
    string CName = ViewBag.CName == null ? "Home" : ViewBag.CName;

    Layout = null;// "~/Views/Shared/_Layout3.cshtml";
}

@using (Html.BeginForm("CropCau", "Home", FormMethod.Post, new { @id = "formDetail", @class = "coords form-inline form-horizontal form-bordered form-row-stripped", @enctype = "multipart/form-data" , @alt="MucCau"}))
{

    <input value="@ViewBag.idImage" type="hidden" id="idImage" name="idImage" />

    <table class="table table-bordered">
        <tr>
            <td>
                @Html.LabelFor(model => model.X, htmlAttributes: new { @class = "control-label " })
            </td>
            <td>
                @Html.TextBoxFor(model => model.X, new { @class = "form-control x1", @style = "width: 100%;" })
            </td>
        </tr>
        <tr>
            <td>
                <label class="control-label">Góc trái Y</label>
            </td>
            <td>
                @Html.TextBoxFor(model => model.Y, new { @class = "form-control y1", @style = "width: 100%;" })
            </td>
        </tr>
        <tr>
            <td>
                <label class="control-label">Độ rộng</label>
            </td>
            <td>
                @Html.TextBoxFor(model => model.Width, new { @class = "form-control w", @style = "width: 100%;" })
            </td>
        </tr>
        <tr>
            <td>
                <label class="control-label">Độ cao</label>
            </td>
            <td>
                @Html.TextBoxFor(model => model.Height, new { @class = "form-control h", @style = "width: 100%;" })
            </td>
        </tr>
        <tr>
            <td>
                <label class="control-label">Văn bản</label>
            </td>
            <td>
                @Html.TextBoxFor(model => model.Lable, new { @class = "form-control", @style = "width: 100%;" })
            </td>
        </tr>
        <tr>
            <td>Mẫu đúng hay sai</td>
            <td>
                <input type='checkbox' id='IsOK' name='IsOK' value='true' @(Model == null || Model.IsOK == true ? "checked=checked" : null )/>
            </td>
        </tr>

    </table>
}
