@model CropImage.Models.ImageCroped
@{
    ViewBag.Title = "Home Page";
    string CName = ViewBag.CName == null ? "Home" : ViewBag.CName;
     Layout = "~/Areas/Core/Views/Shared/_Layout.cshtml";
}

<div class="row margin-top-30">
    <div class="col-md-12">
        <div class="portlet light portlet-fit bordered ">

            <div class="portlet-body">
                <div class="tabbable-line boxless margin-bottom-20">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#tab_2" data-toggle="tab"> Khoanh vùng trong hình ảnh </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_2">
                            <div class="row">

                                <div class="col-md-7 col-sm-12 responsive-1024">
                                    <h4> Khoanh vùng hình ảnh và điền mô tả cho hình ảnh</h4>
                                    
                                    <h3 class="text-danger">@ViewBag.Error</h3>
                                    <div id="imgCrop">
                                        @*<img src="@ViewBag.Image" id="demo2" alt="Jcrop Example" data-object-id="@ViewBag.idImage" class="img-responsive " />*@
                                        <img src="@ViewBag.Image" id="demo2" alt="Main image" data-object-id="@ViewBag.idImage" class=" " style="width:@(ViewBag.widthImage==0?"":ViewBag.widthImage); height:@(ViewBag.heightImage==0?"":ViewBag.heightImage)" />
                                    </div>
                                    <div class="form-actions margin-top-30">
                                        <div class="row">
                                            <div class="col-md-offset-3 col-md-9">
                                                <a class="btn default" id="Left"><i class="fa fa-angle-left"></i>Trước</a>
                                                <a class="btn success" id="Right">Tiếp theo<i class="fa fa-angle-right"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5 col-sm-12 responsive-1024">
                                    <span> thao tác trước</span>
                                    <img id="dimgPreview" src="@ViewBag.PreViewImage" alt="preview image" style="height:100px" />
                                </div>
                            </div>
                            <div class="col-md-5 col-sm-12 ">
                                <h4>Thông tin chi tiết :</h4>
                                <div>
                                    <ul class="nav nav-tabs">
                                        <li class="active">
                                            <a id="GoToCau" href="#Detail_1" data-toggle="tab"> Mức câu </a>
                                        </li>
                                        <li>
                                            <a id="GoToTu" href="#Detail_2" data-toggle="tab"> Mức từ </a>
                                        </li>
                                        <li>
                                            <a id="GoToAmTiet" href="#Detail_3" data-toggle="tab"> Mức âm tiết </a>
                                        </li>
                                        <li>
                                            <a id="GoToChu" href="#Detail_4" data-toggle="tab"> Mức chữ cái hoặc dấu </a>
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="Detail_1">
                                            <div id="tabCau">

                                            </div>
                                            <div class="form-actions">
                                                <div class="row">
                                                    <div class="col-md-offset-3 col-md-9">
                                                        <button class="btn green DSubMit" id="subMit"><i class="fa fa-check"></i> Ghi nhận</button>
                                                        @*<input type="submit" value="Ghi nhận" class="btn green DSubMit" />*@
                                                        <a href="@Url.Action("Index")" class="btn default">Hủy bỏ</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/Scripts/Customer.js"></script>
    <script>

        jQuery(document).ready(function () {
            
            $(':input[type="submit"]').prop('disabled', false);
            $("#subMit").click(function (e) {
                e.preventDefault();
                var $form = $("#formDetail"),
                    url = $form.attr('action'),
                    data = $("#formDetail").serialize(),
                    description = $form.attr('alt');
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: data,
                    success: function (msg) {
                        if (msg.Isok) {
                           
                            if ((description === "MucCau") || (description === "MucTu" && msg.Data !== null)) {
                                var att = msg.Data;
                                $('#dimgPreview').attr('src', att);
                            }
                            //if (description === "MucTu" && daAm.length>1) {
                            //    var att = msg.Data;
                            //    $('#dimgPreview').attr('src', att);
                            //}
                            showSuccess('Ghi nhận thành công');
                        }
                        else {
                            showError('Đã sảy ra lỗi ' + msg.Message);
                        }
                    },
                    error: function (data) {
                        showError('Đã sảy ra lỗi trong quá trình xử lý');
                    },
                    complete: function (result) {
                        App.unblockUI();
                    }
                });
            });

            getCau();
            $('#Left').click(function () {
                // --
                var $id = $('#demo2').attr('data-object-id');
                var url = '/Home/Pre?id=' + $id;
               // location.href = url;
                $.ajax({
                    type: 'GET',
                    url: url,
                    success: function (msg) {
                        $('#imgCrop').html(msg);
                        var idimg = $('#demo2').attr("data-object-id");
                        $('#idImage').val(idimg);
                        //$("#demo2").attr('src', msg.Data);
                        //$("#demo2").attr('data-object-id', msg.objectId);
                    },
                    error: function (data) {
                        alert('Đã sảy ra lỗi trong quá trình xử lý');
                    },
                });
            });
            $('#Right').click(function () {
                // ++
                var $id = $('#demo2').attr('data-object-id');
                var url = '/Home/Next?id=' + $id;
                //location.href = url;
                $.ajax({
                    type: 'GET',
                    url: url,
                    success: function (msg) {
                        $('#imgCrop').html(msg);
                        var idimg = $('#demo2').attr("data-object-id");
                        $('#idImage').val(idimg);
                        //$("#demo2").attr('src', msg.Data);
                        //$("#demo2").attr('data-object-id', msg.objectId);
                    },
                    error: function (data) {
                        alert('Đã sảy ra lỗi trong quá trình xử lý');
                    },
                });
            });
            $('#GoToCau').click(function () {
                getCau();
            });
            function getCau() {
                $.ajax({
                    type: 'GET',
                    url: '/Home/Cau',
                    success: function (msg) {
                        $("#tabCau").html(msg);
                        var idimg = $('#demo2').attr("data-object-id");
                        $('#idImage').val(idimg);
                    },
                    error: function (data) {
                        alert('Đã sảy ra lỗi trong quá trình xử lý');
                    },
                });
            };
            $('#GoToTu').click(function () {
                $.ajax({
                    type: 'GET',
                    url: '/Home/Tu',
                    success: function (msg) {
                        $("#tabCau").html(msg);
                        var idimg = $('#demo2').attr("data-object-id");
                        $('#idImage').val(idimg);
                    },
                    error: function (data) {
                        alert('Đã sảy ra lỗi trong quá trình xử lý');
                    },
                });
            });
            $('#GoToAmTiet').click(function () {
                $.ajax({
                    type: 'GET',
                    url: '/Home/AmTiet',
                    success: function (msg) {
                        $("#tabCau").html(msg);
                        var idimg = $('#demo2').attr("data-object-id");
                        $('#idImage').val(idimg);
                    },
                    error: function (data) {
                        alert('Đã sảy ra lỗi trong quá trình xử lý');
                    },
                });
            });
            $('#GoToChu').click(function () {
                $.ajax({
                    type: 'GET',
                    url: '/Home/Chu',
                    success: function (msg) {
                        $("#tabCau").html(msg);
                        var idimg = $('#demo2').attr("data-object-id");
                        $('#idImage').val(idimg);
                    },
                    error: function (data) {
                        alert('Đã sảy ra lỗi trong quá trình xử lý');
                    },
                });
            });

            function changeD() {
                $('#Dau').on('change',function (e) {
                    var x = $('#Dau').val();
                    if ($('#Dau').val() !== "undefined") {
                        $("#dNhanChu").attr("class", "hidden");
                    }
                    else {
                        $("#dNhanChu").attr("class", "");
                    }
                }); 
            }
        });
    </script>
}